{% extends "layout.html" %}
{% block content %}
{% if success == 'True' %}
<div class="container-fluid text-center">
<h2>Percy Analyzed Your File</h2>
    <table class="table">
    <thead>
      <tr>
        <th class="text-center">Male Names</th>
	  	<th class="text-center">Female Names</th>
	  </tr>
    </thead>
    <tbody>

      <tr>
        <td> {{ male_count }} </td>
        <td> {{ female_count }} </td>
      </tr>
    </table>
</div>
<div class="container-fluid text-center bg-white">
    <h2> {{unknown_count}} names were not present in the SSA Database.</h2>
    <h3> Percy utilized Machine Learning for these {{unknown_count}}</h3>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Inferred Gender</th>
    </tr>
    </thead>
    <tbody>
        {% for name, gender in ai_names.items() %}
    <tr>
        <td> {{ name }} </td>
        <td> {{ gender }} </td>
      </tr>
        {% endfor %}
    </tr>
    </tbody>
    </tbody>
  </table>
</div>



</div>
{% endif %}
{% if success == 'False' %}
<div class="container-fluid text-center">
<h2>Something Went Wrong..</h2>
<h2>{{error_message}}</h2>
</div>
{% endif %}

<div class="container-fluid text-center">
<h1>Upload a {{ ', '.join(allowed_ext.items()) }}Spreadsheet Below</h1>
</div>
 <div class="container-fluid text-center">
<form class="form-inline" action="." method="POST" enctype="multipart/form-data">
		<input type="file" name="file" class="form-control" required="" size="50">
		<input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Header for First Name" name="header_name">
        <label class="form-check-label">
            <input class="form-check-input" name="use_global_names" type="checkbox">Use Global Name Database?</label>
		<button class="btn btn-danger" name="button" value="Upload">Score Diversity</button>


</form>
 </div>
<div class="container-fluid text-center">
<h2>Percy will analyze the file for diversity and return a score</h2>
</div>


{% endblock %}



