{% extends "layout.html" %}
{% block content %}
<div id="about" class="container-fluid text-center bg-lgrey">
      <h2>About Percy</h2><br>
      <h3>Percy is a next-generation sourcing catalyst for Cisco's Talent Hub Organization.</h3>
      <br>
      <h4>What is your RPM?</h4>

      <h4>How many resumes per minute are you capable of?<strong>  The truth is, not enough.</strong> </h4>
      <h4>How many resumes, on average, does Cisco receive each day? <strong>Need this stat</strong></h4>
      <h4>Why Talent Hub Needs Percy</h4>
      <h4>Ever Changing Talent Needs</h4>
      <h4>Talent is Dynamic</h4>
</div>

<div class="container-fluid text-center">
      <h2>Proposed Solutions</h2><br>
      <h4><strong>SEARCH:</strong> By integrating our searches with Percy, Booleans will become deprecated. Searches can be conducted based on intent, rather than content.</h4><br>
      <h4><strong>ENGAGE:</strong> Percy can categorize candidate profiles into multiple subsets. With this, each message can be individually tailored to illustrating why Cisco is relevant to them.
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
    {% endblock %}