{% extends "layout.html" %}
{% block content %}
<div id="about" class="container-fluid text-center bg-lgrey">
      <h2>About Percy</h2><br>
      <h2>Percy is a next-generation sourcing catalyst for Cisco's Talent Hub Organization.</h2>
      <br>
      <h3>What could Percy do?</h3>
      <h4><strong>Percy...</strong>  This resume is my ideal candidate. Find me more like it!</h4>
      <h4><strong>Percy...</strong>  Show me resumes of Product Managers involved in "Connected Car".</h4>
      <h4><strong>Percy...</strong>  Take these 1000 resumes and remove any where the candidate works for a Partner.</h4>
      <br>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
    {% endblock %}