{% extends "layout.html" %}
{% block content %}
{% if success == 'True' %}
<form action="." method="POST">
<div class="form-group text-center">
    <h2>What is TF-IDF?</h2>
    <h4>TFIDF is relatively simply method of computing the most important words in a document</h4>
    <h5><a href="http://www.tfidf.com/">Learn More</a></h5>
    <label for="tfidf">Paste in a Resume to Calculate TF-IDF</label>
  <textarea class="form-control" rows="5" id="tfidf" name="tfidf_text">{{ original }}</textarea>
    <div class="input-group-btn">
        <button type="tfidf" name="button" value="tfidf" class="btn btn-danger">Get TF-IDF</button>
      </div>
</div>
</form>
{% else %}
<form action="." method="POST">
<div class="form-group text-center">
    <h2>What is TF-IDF?</h2>
    <h4>TFIDF is relatively simply method of computing the most important words in a document</h4>
    <h5><a href="http://www.tfidf.com/">Learn More</a></h5>
    <label for="tfidf">Paste in a Resume to Calculate TF-IDF</label>
  <textarea class="form-control" rows="5" id="tfidf" name="tfidf_text"></textarea>
    <div class="input-group-btn">
        <button type="tfidf" name="button" value="tfidf" class="btn btn-danger">Get TF-IDF</button>
      </div>
</div>
</form>
{% endif %}
{% if success == 'True' %}
<div class="container-fluid bg-grey text-center">
  <h2>{{title_h2}}</h2>
  <p>According to my calculations...</p>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Word</th>
        <th class="text-center">{{title_th}}</th>
      </tr>
    </thead>
    <tbody>
        {% for key, value in result.items() %}
      <tr>
        <td> {{ key }} </td>
        <td> {{ value }} </td>
      </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% elif success == 'False' %}
<div class="container-fluid">
    <h2>Oops!</h2>
    <p>Something went wrong.</p>
</div>
{% else %}
{% endif %}
{% endblock %}