<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% extends "layout.html" %}
	{% block content %} 
	{% if success == 'True' %}
	<form action="." method="post">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="input-group">
					<input class="form-control" name="query" required="" size="50" type="query" value="{{user_query}}">
					<div class="input-group-btn">
						<button class="btn btn-danger" name="button" type="query" value="wordtier">Ask Percy</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% else %}
	<form action="." method="post">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="input-group">
					<input class="form-control" name="query" placeholder="What Tier Does My Word Belong To?" required="" size="50" type="query">
					<div class="input-group-btn">
						<button class="btn btn-danger" name="button" type="query" value="wordtier">Ask Percy</button>
					</div>
				</div>
			</div>
		</div>
	</form>{% endif %} {% if success == 'True' %}
	<div class="container fluid bg-grey text-center">
		<div class="row">
			<h2>The word {{ user_query }} belongs to ...</h2>
		</div>
		<div class="well bg-white">
			<h2>Tier {{tier_found}}</h2>
            <h3>Occurring in {{occurrence_pct}}% of resumes</h3>
		</div>
        {% elif success == 'False' %}
		<div class="container-fluid">
			<h2>Oops!</h2>
			<p>It would appear that the word <strong>{{user_query}}</strong> is not in my vocabulary.</p>
		</div>{% else %} {% endif %} {% endblock %}
	</div>
</body>
</html>