<!DOCTYPE html>
<html lang="en">
{% include "percy/head.html" %}
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
{% include "percy/navbar.html" %}
{% block jumbotron %}
<div class="jumbotron text-center">
  <h1>Percy</h1>
  <p>Data Science + Talent Acquisition</p>
</div>
{% endblock %}
<div id="content">{% block content %}{% endblock %}</div>
<!-- webpack -->
<script src="{{ asset_url_for('static', filename='assets/js/vendor_jquery.min.js') }}"></script>
<script src="{{ asset_url_for('static', filename='assets/js/vendor_moment.min.js') }}"></script>
<script src="{{ asset_url_for('static', filename='assets/js/vendor.min.js') }}"></script>
<script src="{{ asset_url_for('static', filename='assets/js/vendor_bs_table.min.js') }}"></script>
<script src="{{ asset_url_for('static', filename='assets/js/vendor_d3.min.js') }}"></script>
<script src="{{ asset_url_for('static', filename='assets/js/vendor_fa.min.js') }}"></script>
</body>
{% block js_script %}{% endblock %}
</html>