<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What does this mean?</button>
    <div id="help" class="collapse">
        <p>For each name in the spreadsheet...</p>
        <p>Percy checks if the name is present in the name database. Checking "Include Global Database" includes names
            that are present in the database but may have some inaccuracies.</p>
        <h2>Which set of results should I use?</h2>
        <div class="panel-group">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">MACHINE LEARNING, DATABASE HYBRIDIZED MODEL</a>
                </h4>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">Are your names common in the United States?</li>
                <li class="list-group-item">Do you have a small number of names?</li>
                <li class="list-group-item">Would you prefer to have unknowns replaced with best guesses?</li>
            </ul>
        </div>
        <div class="panel-group">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">DATABASE RESULTS (WITHOUT MACHINE LEARNING)</a>
                </h4>
            </div>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">Are your names common outside the United States?</li>
                <li class="list-group-item">Would you prefer to exclude best guesses with "Unknown"?</li>
            </ul>
        </div>
        <div class="panel-group">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">STATISTICS</a>
                </h4>
            </div>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">Are a large number of your names showing as "Unknown Names"?</li>
                <li class="list-group-item">Do you have a large number of total names (300+)?</li>
            </ul>
        </div>
    </div>
</div>
