.idea/
mysite/app_folder/__pycache__/
mysite/app_folder/api/__pycache__/
mysite/app_folder/main/__pycache__/
mysite/app_folder/scripts/__pycache__/
mysite/app_folder/scripts/tmp/
mysite/app_folder/scripts/utils/
mysite/app_folder/scripts/words/
mysite/process/__pycache__/
mysite/process/process/__pycache__/
mysite/process/process/utils/__pycache__/
mysite/process/process/words/__pycache__/
venv/
/mysite/app_folder/resources/
/mysite/process/data/
/mysite/app_folder/scripts/company2id.pkl
/mysite/app_folder/scripts/id2company.pkl
!/mysite/process/data/phrases/patterns.py
!/mysite/process/data/phrases/excluded.txt
!/mysite/process/data/phrases/included.txt
/mysite/notebooks/data/beta_params.npy
