<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>This page provides insights into the genders present in a spreadsheet of names<p>
      <p>Each known name is assigned a minimum and maximum probability of being female, based on the number of male and number of female records</p>
      <p>For common names, such as James, the minimum and maximum probabilities are nearly identical</p>
      <p>For less common names, such as Anargyros, these are very far apart</p>
      <table class="table">
          <tr>
              <th>Name</th>
              <th>N_Male</th>
              <th>N_Female</th>
              <th>Min Prob Female</th>
              <th>Max Prob Female</th>
          </tr>
          <tr>
              <td>James</td>
              <td>5,139,460</td>
              <td>23,626</td>
              <td>0.45%</td>
              <td>0.46%</td>
          </tr>
          <tr>
              <td>Anargyros</td>
              <td>1</td>
              <td>0</td>
              <td>1.26%</td>
              <td>84.19%</td>
          </tr>
      </table>
      <br>
      <p>Select a spreadsheet from your computer. .xlsx, .xls, and .csv file types are supported.</p>
      <br>
      <p>Ensure that you have a column where first names are listed. Enter the column name in "Header for First Name"</p>
      <br>
  </div>
</div>