<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>This tool is incredibly useful for situations when you've found a great résumé and want to find more like it.</p>
      <br>
      <p>If you build out a search string from an ideal résumé it is easy to be too specific and you risk missing your next ideal résumé.</p>
      <br>
      <p>"Resume Fingerprinting" computes the probability of each word in your resume and compares it to a large body of résumés. Those with the greatest difference in probability are ranked highest </p>
      <br>
      <div class="panel-group">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">And that means...?</a>
                </h4>
            </div>
        </div>
      <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">Words like "purple", "LTE", "numpy" score high because they occur infrequently</li>
                <li class="list-group-item">Words like "experience", "develop", "manage" score low because they occur frequently</li>
            </ul>
        </div>
  </div>
</div>