<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>This page demonstrates the concept of "word embeddings"</p>
      <br>
      <p>The results returned are words that were found to be used in similar contexts
      as your lookup word.</p>
      <br>
      <p>Take, for instance, "mongodb". This is a "NoSQL" database. It is one of several fundamental difference that divide database technologies. </p>
      <br>
      <p>If we were to quantify the "relatedness" of say, "mongodb" to "MS SQL Server" and "Apache Cassandra", "Apache Cassandra" should score higher than "MS SQL Server" as these are both "NoSQL".</p>
      <br>
      <p>Some services attempt to do the same quantification through correlation, which can lead your search in the wrong direction.
          See what <a href="https://hiringsolved.com/explorer#/mongodb">HiringSolved</a> returns for this same search.</p>
      <br>
  </div>
</div>