<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>Let's assume that for any textual document, the most "important" words will be nouns and adjectives.</p>
      <br>
      <p>Paste in a résumé (or any text for that matter) and Percy will return the highest-scoring nouns and adjectives for each your sentences.</p>
      <br>
      <p>You might also be interested in <a href="/tf_idf">Resume Fingerprinting</a></p>
  </div>
</div>