<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>This page provides an insight into the mechanics of <a href="/diversity">Diversity Score</a></p>
      <br>
      <p>After entering a first name of your choosing, click "Guess Gender" to see the results</p>
      <br>
      <p>Now try some variations of the same name. Have you found one not present in our name database?</p>
      <br>
      <p>This is where the machine learning model takes over. It looks for patterns, not exact matches and so can provide
      reasonably accurate guesses.</p>
      <br>
      <p>The model is optimized for Anglo-Saxon names, i.e. John, Jane, etc. This is a result of the lack of available
          name and gender data available globally.</p>
      <br>
  </div>
</div>