<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>This page provides insights into the genders presents in a spreadsheet of names. The mechanics are demonstrated and explained further <a href="/diversity">Here</a></p>
      <br>
      <p>Select a spreadsheet from your computer. .XLSX or .CSV file types are supported.</p>
      <br>
      <p>Ensure that you have a column where first names are listed. Enter the column name in "Header for First Name"</p>
      <br>
  </div>
</div>