<div class="container-fluid text-center bg-grey">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">What is this?</button>
  <div id="help" class="collapse text-black">
      <br>
      <p>Machine learning is accomplished with math.</p>
      <br>
      <p>How then, can we perform math on words?</p>
      <br>
      <p>It's a byproduct of process known as vectorization. It allows us to treat words as numbers so that we can combine and subtract them.</p>
      <br>
      <p>A popular example is from the original research done by Google. The team was able to "ask" a computer:</p>
      <blockquote>
          <p>King - Man + Woman = ?</p>
          <br>
          <p>Queen</p>
      </blockquote>
  </div>
</div>