{% extends "layout.html" %}
{% block content %}
{% include 'partials/helps/helps_diversity.html' %}
{% if success == 'True' %}
{% include 'partials/explains/explains_diversity.html' %}
<div class="container-fluid text-center bg-white">
    <h2>Diversity Analysis</h2>
    <table class="table">
    <thead>
      <tr>
          <th class="text-center">Total Names</th>
          <th class="text-center">Male Names</th>
          <th class="text-center">Female Names</th>
          <th class="text-center">Unknown Names</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{ total }} </td>
        <td> {{ n_male }} </td>
        <td> {{ n_female }} </td>
        <td> {{ n_unknown }} </td>
      </tr>
      </tbody>
    </table>
    <h2>Statistically, since {{ n_known }} of {{ total }} names are known...</h2>
    <br>
    <h3>And of this group, {{ "{:.2%}".format(r_female) }} are Female...</h3>
    <br>
    <h3>The likelihood of the remaining, {{ n_unknown }}, names having the same M:F ratio is... </h3>
    <br>
    <h3>95% +/- {{"{:.2%}".format(ci_95)}}</h3>
    <br>
    <h3>99% +/- {{"{:.2%}".format(ci_99)}}</h3>
</div>

{% endif %}
{% if success == 'False' %}
<div class="container-fluid text-center">
<h2>Something Went Wrong..</h2>
<h2>{{error_message}}</h2>
</div>
{% endif %}

<div class="container-fluid text-center">
<h1>Upload a Spreadsheet Below</h1>
</div>
 <div class="container-fluid text-center">
<form class="form-inline" action="/diversity" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" class="form-control" required="" size="50">
		<input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Header for First Name" name="header_name">
    
		<button class="btn btn-danger" name="button" value="Upload">Score Diversity</button>


</form>
 </div>
<div class="container-fluid text-center">
<h2>Percy will analyze the file for gender diversity</h2>
</div>


{% endblock %}



