<!DOCTYPE html>
<html lang="en">
<head>
  {% if config is defined %}
     {% if config['DEBUG'] == True %}
       {% set offline_mode = True %}
     {% else %}
       {% set offline_mode = False %}
     {% endif %}
   {% else %}
     {% set offline_mode = False %}
   {% endif %}
   {% if offline_mode == False %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132355416-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-132355416-2');
  </script>
  {% else %}
  {% endif %}

    <title>Percy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico'|versioned) }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico'|versioned) }}" type="image/x-icon">
  <!-- Bootstrap 4 CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Bootstrap 4 / Selectize Shim -->
  <link rel="stylesheet" href="https://estasney.pythonanywhere.com/styles/selectize.bootstrap4.css">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- Bootstrap Tables CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.14.2/bootstrap-table.min.css">

  <!-- Mainpage CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css'|versioned) }}">
  <!-- jQueryUI CSS-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/ms_form.css'|versioned) }}" rel="stylesheet" type="text/css">

    {% block headscript %} {% endblock %}
    {% block style %} {% endblock %}

</head>