{% extends "layout.html" %}
{% block content %}
<div id="about" class="container-fluid text-center bg-lgrey">
      <h2>Percy is a next-generation sourcing catalyst for Cisco's Talent Hub Organization.</h2>
      <br>
      <h3>What is Percy?</h3>
      <h4><strong>Percy...</strong>  This resume is my ideal candidate. Find me more like it!</h4>
    <p>The best searches require a complete understanding of the contents of résumés</p>
    <p>What words should you exclude, that may be too common?</p>
    <p>What words should you exclude, that may be too rare?</p>
    <p>And what words are <i>just right</i> that translate to your ideal candidate?</p>
    <br>
    <h4><strong>Percy...</strong>  I don't know what "Kubernetes" means, but the job requires it.</h4>
    <p>The concept of "word embeddings" is a powerful algorithm for quantifying the relatedness of words.</p>
    <p>During its training Percy looked for where terms where used in similar contexts. So while Percy cannot tell you
        the definition of "Kubernetes" it can tell you other words that were used in similar contexts.</p>
    <p>This feature can provide additional suggestions to "Kubernetes" for your search.</p>
    <br>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
    {% endblock %}
