{% extends "layout.html" %}
{% block content %}
{% if success == 'True' or success == 'Partial' %}
<div class="container-fluid text-center">
	<form class="form-inline" action="/infer" method="POST">
		<input class="form-control mb-2 mr-sm-2 mb-sm-0" name="infer_name" required="" size="50" type="infer_name" value="{{user_query}}">
		<label class="form-check-label">
			<input class="form-check-input" name="use_global_names" type="checkbox">Use Global Name Data?</label>
		<button class="btn btn-danger" name="button" type="infer_name" value="infer_name">Guess Gender</button>
	</form>
</div>

{% else %}
<div class="container-fluid text-center">
	<form class="form-inline" action="/infer" method="POST">
		<input class="form-control mb-2 mr-sm-2 mb-sm-0" name="infer_name" required="" size="50" value="">
		<label class="form-check-label">
			<input class="form-check-input" name="use_global_names" type="checkbox">Use Global Name Data?</label>
		<button class="btn btn-danger" name="button" value="infer_name">Guess Gender</button>
		</form>
</div>

{% endif %}
{% if success == 'True' %}

<div class="container fluid bg-grey text-center">
		<div class="row">
			<h2>You asked me to guess the gender of {{ user_query }}...</h2>
		</div>


		<div class="row row-eq-height">
			<div class="col-lg-6">
                <h1>Machine Learning Approach</h1>
                <div class="well bg-white">
				<h2>I believe {{ user_query }} is a {{gender_guess}} name</h2>
                </div>
			</div>


			<div class="col-lg-6">
				<h1>{{ database_name }}</h1>

                <div class="well bg-white">
				<h2>{{ database_result }}</h2>
                </div>

				<div>
				</div>
			</div>

{% elif success == 'Partial' %}

<div class="container fluid bg-grey text-center">
		<div class="row">
			<h2>You asked me to guess the gender of {{ user_query }}...</h2>
		</div>


		<div class="row row-eq-height">
			<div class="col-lg-6">
                <h1>Machine Learning Approach</h1>
                <div class="well bg-white">
				<h2>I believe {{ user_query }} is a {{gender_guess}} name</h2>
                </div>
			</div>


			<div class="col-lg-6">
				<h1>I looked in {{ database_name }}</h1>

                <div class="well bg-white">
				<h2>No results were found</h2>
                </div>

				<div>
				</div>
			</div>

{% elif success == 'False' %}
<div class="container-fluid">
    <h2>Oops!</h2>
    <p>Something went wrong</p>
</div>
{% else %}
{% endif %}
{% endblock %}