{% extends "layout.html" %}
{% block content %}
{% include 'partials/helps/helps_keywords.html' %}

{% if success == 'True' %}
<form action="/keywords" method="POST">
<div class="form-group">
  <label for="raw_text">Enter Text to Find Keywords</label>
  <textarea class="form-control" rows="5" id="raw_text" name="raw_text">{{ original }}</textarea>
    <div class="input-group-btn">
        <button type="keywords" name="button" value="keywords" class="btn btn-danger">Get Keywords</button>
      </div>
</div>
</form>
{% else %}
<form action="/keywords" method="POST">
<div class="form-group">
  <label for="raw_text">Enter Text to Find Keywords</label>
  <textarea class="form-control" rows="5" id="raw_text" name="raw_text"></textarea>
    <div class="input-group-btn">
        <button type="keywords" name="button" value="keywords" class="btn btn-danger">Get Keywords</button>
      </div>
</div>
</form>
{% endif %}
{% if success == 'True' %}
<div class="container-fluid bg-grey text-center">
  <h2> Keywords </h2>
  <p>These are the keywords I found</p>
    <div class="container">
        <table class="table">
    <thead>
      <tr>
        <th class="text-center">Word</th>
        <th class="text-center">Rank</th>
      </tr>
    </thead>
    <tbody>
        {% for word, score in keywords %}
      <tr>
        <td> {{ word }} </td>
        <td> {{ score }} </td>
      </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
    </div>
</div>
{% elif success == 'False' %}
<div class="container-fluid">
    <h2>Oops!</h2>
    <p>Something went wrong, try entering a longer block of text</p>
</div>
{% else %}
{% endif %}
{% endblock %}