{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-md-3" style="border-right: 3px solid #f35b04">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-paste-tab" data-toggle="pill" href="#v-pills-paste" role="tab" aria-controls="v-pills-paste" aria-selected="true"><i class="fas fa-paste"></i> Paste</a>
    <a class="nav-link" id="v-pills-cisco-tab" data-toggle="pill" href="#v-pills-cisco" role="tab" aria-controls="v-pills-cisco" aria-selected="false"><i class="fas fa-cloud-download-alt"></i> From Cisco Jobs</a>
      </div>
    </div>
    <div class="col-md-8">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-paste" role="tabpanel" aria-labelledby="v-pills-paste-tab">
      <textarea id="search-term-paste" rows="3" class="form-control" placeholder="Paste in Text..."></textarea>
    </div>
    <div class="tab-pane fade" id="v-pills-cisco" role="tabpanel" aria-labelledby="v-pills-cisco-tab">
        <input id="search-term-req" class="form-control" placeholder="Req Number">
    </div>

      </div>
  </div>
  </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-9 offset-3">
            <div class="form-group row">
                <div class="col-md-2 col-form-label">
            <label for="window-size" display="font-size:1.1rem;">Window Size</label>
                </div>
            <div class="col-md-8 pt-2">
                <input type="range" min="2" max="8" step="1" value="4" id="window-size"  class="slider">
            </div>
            <div class="col-md-2">
                <span class="slider-output">4</span>
            </div>

                </div>
                </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col offset-6">
            <button id="search" type="button" class="btn btn-success" style="font-size:1.1rem;">Go!</button>
            <button id="reset" type="button" class="btn btn-success" style="font-size:1.1rem;">Reset</button>
        </div>
    </div>
    

   
    

      {% endblock %}
      {% block js_script %}

      <script src="https://estasney.pythonanywhere.com/js/loadingoverlay.min.js"></script>
          <script src="{{ url_for('static', filename='keywords.js'|versioned) }}"></script>
      {% endblock %}