<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='favicon.ico') }}" width="30" height="30" class="d-inline-block align-top" alt="">
    Percy
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="search-tools-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SEARCH TOOLS
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="search-tools-dropdown">
                <a class="dropdown-item" href="/related">RELATED WORDS</a>
                <a class="dropdown-item" href="/keywords">SEMANTIC NETWORKS</a>
                <a class="dropdown-item" href="/tf_idf">DOCUMENT FINGERPRINTING</a>
                <a class="dropdown-item" href="/thisplusthat">THIS PLUS THAT</a>
            </div>
        </li>
        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="diversity-tools-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DIVERSITY TOOLS
                    </a>
                    <div class="dropdown-menu bg-blue" aria-labelledby="diversity-tools-dropdown">
                        <a class="dropdown-item" href="/diversity_score">DIVERSITY SCORE</a>
                        <a class="dropdown-item" href="/diversity_lookup">NAME LOOKUP</a>
                    </div>
                </li>
    </ul>
  </div>
</nav>












