{% extends "layout.html" %} {% block content %} {% include 'partials/helps/helps_related.html' %}

<div class="container">
    <div id="buttons-toolbar">
      <div class="d-flex justify-content-center pb-4">
        <div id="bloodhound" class="">
                    <input id="related_autocomplete" type="text" name="q" class="typeahead form-control"
                           value="" size="50" required>
                </div>
        
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn tgl-btn active">
                <input type="radio" name="scope_words" id="scope_words" autocomplete="off" checked> Words
            </label>
            <label class="btn tgl-btn">
                <input type="radio" name="scope_skills" id="scope_skills" autocomplete="off"> Skills
            </label>
        </div>
      </div>
      
        <div class="row justify-content-md-center pb-2">
        <div class="col-md-">
          <button class='btn btn-primary' id='search-btn'>Search</button>
        
        </div>
  </div>
    </div>
    <table id="results-table" style="display:none;" data-classes="table table-bordered table-hover table-striped"></table>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='related.js') }}"></script>

{% endblock %} {% block js_script %} {% include "datatables.html" %} {% endblock %}
