{% extends "layout.html" %}
{% block content %}
{% include 'partials/helps/helps_tfidf.html' %}
{% if success == 'True' %}
<div class="form-group text-center">
    <form action="/tf_idf" method="POST">
        <label for="tfidf">Paste in a Resume to Calculate Most Informative Words</label>
        <textarea class="form-control" id="tfidf_success" name="tfidf_text" rows="5">{{ original }}</textarea>
        <div class="input-group-btn">
            <button class="btn btn-danger" name="button" type="tfidf" value="tfidf">Fingerprint</button>
        </div>
    </form>
</div>
{% else %}
<div class="form-group text-center">
    <form action="/tf_idf" method="POST">
        <label for="tfidf">Paste in a Resume to Calculate Most Informative Words</label>
        <textarea class="form-control" id="tfidf" name="tfidf_text" rows="5"></textarea>
        <div class="input-group-btn">
            <button class="btn btn-danger" name="button" type="tfidf" value="tfidf">Fingerprint</button>
        </div>
    </form>
</div>
{% endif %}
{% if success == 'True' %}
<div class="container bg-grey">
    <h2 class="text-center">These words seem to stand out</h2>

    <table data-toggle="table" data-sort-name="score" data-sort-order="desc" data-pagination="true" data-page-size="50" data-striped="true" data-pagination="true" data-page-size="25" data-search="true">
        <thead>
        <tr>
            <th data-field="word" data-sortable="true">Word</th>
            <th data-field="score" data-sortable="true">TF-IDF</th>
        </tr>
        </thead>
        <tbody>
        {% for word, value in result %}
        <tr>
            <td>{{ word }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>{% elif success == 'False' %}
<div class="container-fluid">
    <h2>Oops!</h2>
    <p>Something went wrong.</p>
    <p>{{error_message}}</p>
</div>{% else %} {% endif %}
<script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});


</script>
{% endblock %}
{% block js_script %}
{% include "datatables.html" %}
{% endblock %}


