{% extends "layout.html" %}
{% block content %}
{% include 'partials/helps/helps_thisplusthat.html' %}
 <div class="container-fluid text-center">
     <h3>Let's Try Some Word Equations</h3>
 {% if success == 'True' %}
 <form class="form" action="/thisplusthat" method="POST">
     <div class="form-group">
        <label class="sr-only" for="pos_words">Add Words Together</label>
        <input type="text" class="addition-word form-control" name="pwords" id="pos_words" value="{{pos_words}}">
    </div>
     <div class="form-group">
         <label class="sr-only" for="pos_words">Subtract These Words</label>
        <input type="text" class="subtraction-word form-control" name="negwords" id="neg_words" value="{{neg_words}}">
     </div>
     <button type="submit" name="button" value="math" class="btn btn-danger">Ask Percy</button>
</form>
 {% else %}
     <form class="form" action="/thisplusthat" method="POST">
     <div class="form-group">
        <label class="sr-only" for="pos_words">Add Words Together</label>
        <input type="text" class="addition-word form-control" name="pwords" id="pos_words" value="" placeholder="Hardware, Software">
    </div>
     <div class="form-group">
         <label class="sr-only" for="neg_words">Subtract These Words</label>
        <input type="text" class="subtraction-word form-control" name="negwords" id="neg_words" value="">
     </div>
     <button type="submit" name="button" value="math" class="btn btn-danger">Ask Percy</button>
</form>
 {% endif %}
  <h5>Hints:</h5>
  <p>You can leave the 'Subtraction Words' blank.</p>
     <p>Percy recognizes terms. For "Quality Assurance", type quality_assurance</p>
     <p>Try Hardware + Software</p>
</div>
{% if success == 'True' %}
<div class="container-fluid bg-grey text-center">
  <h2>According to my calculations...</h2>
  <h3>{{user_equation}}</h3>
<table class="table">
    <thead>
      <tr>
        <th class="text-center">Closest Match</th>
          <th class="text-center">Similarity Score</th>

      </tr>
    </thead>
    <tbody>
        {% for key, value in result.items() %}
      <tr>
        <td> {{ key }} </td>
        <td> {{ value }} </td>
      </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% elif success == 'False' %}
<div class="container-fluid">
    <h2>Oops!</h2>
    <p>It would appear that the word <strong>{{ result }}</strong> is not in my vocabulary.</p>
</div>
{% else %}
{% endif %}
{% endblock %}