<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Anode</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='percy/dist/img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset_url_for('static', filename='anode/dist/css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
{% include 'anode/layouts/navbar.html' %}
{% block content %} {% endblock %}
<script src="{{ asset_url_for('static', filename='anode/dist/js/vendor.js') }}"></script>
{% block tail_body %}
{% endblock %}
</body>
</html>