<header class="navbar navbar-expand-md navbar-dark bg-dark flex-md-row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Menu</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% if current_user.is_authenticated %}
                    <a class="dropdown-item" href="{{ url_for('anode.label_docs', project_id=current_user.active_project.id, category='label') }}">Current Project</a>
                    <a class="dropdown-item" href="{{ url_for('anode.label_docs')}}">Switch Projects</a>
                    <a class="dropdown-item" href="{{ url_for('anode.label_docs', project_id=current_user.active_project.id, category='manage_labels') }}">Manage Labels</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('main.open_page') }}">Back to Percy</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('anode.logout') }}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ url_for('anode.login') }}">Login</a>
                    <a class="dropdown-item" href="{{ url_for('main.open_page') }}">Back to Percy</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</header>